.lists {
  margin: 16px;
  list-style-type: none;
}
.btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.tab-btn {
  width: 60px;
  height: 60px;
  opacity: 0.3;
}

.active-tab-btn {
  opacity: 1;
}
